Repository yiisoft/composer-config-plugin, pull requests merged in 2020-06, with the labels that each got.

#68 Fix symlink: add link from vendor package to working package (plugin)
  tests/Integration/ComposerUpdateHook.php
Labels: status:code review

#75 Fix first run with package from packagist
  phpunit.xml.dist
  tests/Integration/Environment/composer.json
  tests/Integration/Hooks/ComposerUpdateHook.php
  tests/Integration/Hooks/CopyPackageBeforeRunTestsHook.php
  tests/Integration/Hooks/RebuildHook.php
  tests/Integration/Hooks/RemovePackageAfterTestsHook.php
  tests/Integration/Packages/.gitignore
  tests/Integration/Support/DirectoryManipulatorTrait.php
Labels: status:code review, type:test

#77 Fix serialization object with closure #72
  src/Util/Helper.php
  src/Util/ObjectEncoder.php
  tests/Integration/Environment/config/params.php
  tests/Integration/Tests/Config/ParamsConfigTest.php
  tests/Unit/Util/HelperTest.php
Labels: status:code review, type:bug

#81 Revert "Revert "Merge remote-tracking branch 'xepozz/fix-serializatio…
  src/Util/Helper.php
  src/Util/ObjectEncoder.php
  tests/Integration/Environment/config/params.php
  tests/Integration/Tests/Config/ParamsConfigTest.php
  tests/Unit/Util/HelperTest.php
Labels: status:code review

#85 Add plugin independent config build
  CHANGELOG.md
  composer.json
  src/Builder.php
  src/Plugin.php
Labels: type:enhancement
